table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
tbody tr {
    border-bottom: 1px solid;
}
tbody tr td:nth-child(1){
    border-right: 1px solid;
}
th, td {
    padding : 0.25rem;
}
tr.red th {
    background: red;
    color: white;
}
tr.grey th {
    background: grey;
    color: white;
}
th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}