body
{
    margin: 0;
    /* background: url('./assets/images/bodyBackground.png'); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.layout-input
{
    text-align: left;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
}
.layout-input>input
{
    width: 50%;
    float: right;
}
.layout-input>label
{
    max-width: 50%;
}